<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="template/_fragments :: head(~{::title})">
    <title>博客管理</title>
</head>
<body id="example" class="pushable index" ontouchstart="">
	<!-- 左菜单导航 -->
	<aside th:replace="template/_fragments :: menu(1.1)" ></aside>
	<nav th:replace="template/_fragments :: nav(n='博客管理')" ></nav>
	<!-- 中间内容 -->
  <div class="pusher"> 
   <div class="full height"> 
		<div class=" header segment"> 
			<div class="ui container"> 
				<h2 class="ui header">
				  <i class="edit icon"></i>
				  <div class="content">
					博客管理
					<div class="sub header">笔耕不辍，记录生活点点滴滴</div>
				  </div>
				</h2>
				<div class="ui divider"></div> 
			</div>	
		</div>
	 </div> 
	<div class="ui container segment">
		<!-- 查询条件 -->
		<form class="ui form" action="#" id="form1"  th:object="${blog}" method="post">
		<div class="ui black segment" id ="fields"> 
		  <div class="three fields">
			<div class="field">
			  <label>文章标题</label>
				<div class="field">
				  <input type="text" name="first-name" placeholder="文章标题" th:field="*{title}">
				</div>
			</div>
			<div class="field">
			  <label>分类</label>
			  <div class="ui selection dropdown">
				<input type="hidden" th:field="*{category.id}">
				<div class="default text" >分类</div>
				<i class="dropdown icon"></i>
				<div class="menu" >
				  <th:block th:unless="${null == categories}">
				  	<th:block th:each="category : ${categories}">
					  <div class="item" data-value="male"  th:attr="data-value=${category.id}" th:text="${category.categoryName}">Male</div>
				  	</th:block>
				  </th:block>
				</div>
			  </div>
			</div>
			<div class="field">
				<label>文章标签</label>
				<div class="ui fluid multiple search selection dropdown">
				  <input type="hidden" th:field="*{tagNames}">
				  <i class="dropdown icon"></i>
				  <th:block th:each="blogTag: *{tags}">
				  <a class="ui label transition visible" th:attr="data-value=${blogTag.tagName}" style="display: inline-block !important;">
				  <th:block th:text="${blogTag.tagName}"></th:block>
				  <i class="delete icon"></i></a>
				  </th:block>
				  <div class="default text">Saved Contacts</div>
				  <div class="menu" id="tags-menu">
	  				  <th:block th:unless="${null == tags}">
					  	<th:block th:each="tag : ${tags}">
						  		<div class="item" th:attr="data-value=${tag.tagName}, data-text=${tag.tagName} " th:text="${tag.tagName}"></div>
					  	</th:block>
					  </th:block>
				  </div>
				</div>
		  	</div>
		  </div>
		  </div>
		</form>
		
		<!-- 控制按钮 -->
		<div class="ui middle aligned divided list">
		  <div class="item">
		    <div class="right floated content">
		      <div class="ui mini blue button">查询</div>
		    </div>
		    <div class="left floated content">
		      <button class="ui mini red button" id="btnBatchDel" th:attr="data-url=${batchDeleteUrl}"  data-ids="">批量删除</button>
		      <a class="ui mini teal button" th:href="@{${addUrl}}">新增</a>
		    </div>
		  </div>
		</div>
		
		<!-- 列表显示 -->
		<table class="ui celled table">
		  <thead>
		    <tr>
		    	<th>
			      <div class="ui master checkbox">
			        <input type="checkbox" tabindex="0" class="hidden" name="checkedIds">
			      </div>
		    	</th>
			    <th>标题</th>
			    <th>分类</th>
			    <th>标签</th>
			    <th>描述</th>
			    <th>发表时间</th>
			    <th>操作</th>
		  	</tr>
		  </thead>
		  <tbody>
		    <tr th:each="blog : ${blogs}">
		      <td>
			      <div class="ui child checkbox">
			        <input type="checkbox" tabindex="0" class="hidden" name="ids" th:value=${blog.id}>
			      </div>
		      </td>
		      <td th:text="${blog.title}"></td>
		      <td th:text="${blog.category.categoryName}"></td>
		      <td th:text="${blog.tagNames}"></td>
		      <td th:text="${blog.description}"></td>
		      <td th:text="${blog.updateTime}"></td>
		      <td>
		      	<button class="ui mini red button btnDel"  th:attr="data-id=${blog.id},data-url=${batchDeleteUrl}">删除</button>
		      	<a class="ui mini orange button" th:href="@{${editUrl}+${blog.id}}">修改</a>
		      </td>
		    </tr>
		  </tbody>
		</table>
		
		<!-- 分页 -->
		<div id="my-pagination">
			<div class="ui vertically padded page grid">
				<div class=" ui  center aligned sub header column">
	 				<div class="ui pagination menu">
					  <div class="item ">
					  		<span th:class="${page.hasPreviousPage}? '' : 'disabled'" th:if='${not page.hasPreviousPage}'><i class="left arrow icon"></i>上页</span>
							<a th:if='${page.hasPreviousPage}' th:href='@{${page.url}(page=${page.number-2},size=${page.size})}' title='Go to previous page'><i class="left arrow icon"></i>上页</a>
					  </div>
					  <div class="item" th:each='item : ${page.items}'>
						<span th:if='${item.current}' th:text='${item.number}'>1</span>
						<a th:if='${not item.current}' th:href='@{${page.url}(page=${item.number-1},size=${page.size})}'><span th:text='${item.number}'>1</span></a>
					  </div>
					  <div class="item">
					  	<span th:class="${page.hasNextPage}? '' : 'disabled'" th:if='${not page.hasNextPage}'>下页<i class="right arrow icon"></i></span>
					    <a th:if='${page.hasNextPage}' th:href='@{${page.url}(page=${page.number},size=${page.size})}' title='Go to next page'>下页&nbsp;&nbsp;<i class="right arrow icon"></i></a>
					  </div>
					</div>
				</div>
			</div>
			<!-- 统计分页 -->
			<div class="ui vertically padded page grid">
				<div class=" column">
				  <p class="ui  center aligned sub header">当前第<span th:text="${page.number}">1</span>页，总<span th:text="${page.totalPages}">1</span>页，共<span th:text="${page.totalElements}">1</span>条记录</p>
				  <div class="ui divider"></div>
				</div>
			</div>
		</div>
		
	</div>
   </div>

	<div class="ui tiny test modal">
		<div class="header">Delete Your Account</div>
		<div class="content">
			<p>Are you sure you want to delete your account</p>
		</div>
		<div class="actions">
			<div class="ui negative button">No</div>
			<div class="ui positive right labeled icon button">
				Yes <i class="checkmark icon"></i>
			</div>
		</div>
	</div>


	<!-- 底部footer -->
	<footer th:replace="template/_fragments :: footer"> 
	
	</footer>

	<!-- 导入的script -->
	<th:block th:replace="template/_fragments :: script">
	
	</th:block>
</body>
</html>