<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="template/_fragments :: head(~{::title})">
    <title>博客详情</title>
</head>
<body>
	<!--头部导航-->
	<nav  th:replace="template/_fragments :: menu(1)" ></nav>

	<!--中间内容-->
	<div class="m-container m-padded-tb-big animated fadeIn">
		<div class="ui container">
			<div class="ui stackable grid">
				<div class ="eleven wide column">
					<!-- 标题头 -->
					<div class="ui center aligned segment">
						<h2 class="ui center aligned header" th:text="${blog.title}">Docker 服务启动,重启,关闭命令</h2>
						<div class="ui relaxed divided items">
							<div class="item" >
								<div class="content">
									<div class="meta">
										<img src="assets/images/二维码图片01.png" alt="" class="ui avatar image">
										<a href="#" class="header" th:text="${blog.user.nickname}">云淡风轻</a>
										<i class="calendar icon"></i> 
										<span th:text="${#dates.format(blog.updateTime, 'yyyy-MM-dd')}">2020-04-20</span>
										<i class="eye icon"></i> 
										<span th:text="${blog.countViews}">297</span>
										<span class="ui orange basic label" th:if="${blog.articleType==0}" >原创</span>
										<span class="ui orange basic label" th:if="${blog.articleType==1}" >转载</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<!--中间主要内容部分-->
					<div class="ui segment">
						<div id="content" class="ui typo  typo-selection js-toc-content m-padded-lr-responsive m-padded-tb-large basic segment" th:utext="${blog.content}">
							
						</div>
						
						
						
						<!-- 标签 -->
						<div class="ui top aligned basic segment"></div>
						<div class="ui labels">
								<a class="ui label" th:each="tag : ${blog.tags}" th:text="${tag.tagName}">Java</a>
						</div>
						
						<!--赞赏-->
						<div class="ui center aligned basic segment">
							<button id="payButton" class="ui orange basic circular button">赞赏</button>
						</div>
						<div class="ui  flowing popup transition hidden">
							<div class="ui orange basic label">
								<div class="ui images" style="font-size: inherit !important;">
									<div class="image">
										<img src="/images/alipay.jpg" alt="" class="ui rounded bordered image" style="width: 120px">
										<div>支付宝</div>
									</div>
									<div class="image">
										<img src="/images/wechat.jpg" alt="" class="ui rounded bordered image" style="width: 120px">
										<div>微信</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<!-- 博文信息 -->
					<div class="ui attached positive message">
						<div class="ui middle aligned grid">
							<div class="eleven wide column">
								<div class="ui bulleted list">
									<div class="item">作者：<span th:text="${blog.user.nickname}">云淡风轻</span></div>
									<div class="item">发布日期：<span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd HH:mm:ss')}">2020/05/24 15:10</span></div>
									<div class="item">版权声明：<span>自由转载-非商用-非衍生-保持署名</span></div>
								</div>
							</div>
							
							<div class=" five wide column">
								<image src="assets/images/二维码图片01.png" class="ui right tiny floated rounded bordered image"/>
							
							</div>
							
						</div>
					</div>
					
					<!-- 评论 -->
					<div class="ui segment">
					<div class="ui comments">
					  <h3 class="ui blue dividing header">评论</h3>
					  <div class="comment">
						<a class="avatar">
						  <img src="../images/avatar/small/matt.jpg">
						</a>
						<div class="content">
						  <a class="author">Matt</a>
						  <div class="metadata">
							<span class="date">Today at 5:42PM</span>
						  </div>
						  <div class="text">
							How artistic!
						  </div>
						  <div class="actions">
							<a class="reply">Reply</a>
						  </div>
						</div>
					  </div>
					  <div class="comment">
						<a class="avatar">
						  <img src="../images/avatar/small/elliot.jpg">
						</a>
						<div class="content">
						  <a class="author">Elliot Fu</a>
						  <div class="metadata">
							<span class="date">Yesterday at 12:30AM</span>
						  </div>
						  <div class="text">
							<p>This has been very useful for my research. Thanks as well!</p>
						  </div>
						  <div class="actions">
							<a class="reply">Reply</a>
						  </div>
						</div>
						<div class="comments">
						  <div class="comment">
							<a class="avatar">
							  <img src="../images/avatar/small/jenny.jpg">
							</a>
							<div class="content">
							  <a class="author">Jenny Hess</a>
							  <div class="metadata">
								<span class="date">Just now</span>
							  </div>
							  <div class="text">
								Elliot you are always so right :)
							  </div>
							  <div class="actions">
								<a class="reply">Reply</a>
							  </div>
							</div>
						  </div>
						</div>
					  </div>
					  <div class="comment">
						<a class="avatar">
						  <img src="../images/avatar/small/joe.jpg">
						</a>
						<div class="content">
						  <a class="author">Joe Henderson</a>
						  <div class="metadata">
							<span class="date">5 days ago</span>
						  </div>
						  <div class="text">
							Dude, this is awesome. Thanks so much
						  </div>
						  <div class="actions">
							<a class="reply">Reply</a>
						  </div>
						</div>
					  </div>
					  <form class="ui reply form">
						<div class="field">
						  <textarea></textarea>
						</div>
						<div class="ui blue labeled submit icon button">
						  <i class="icon edit"></i> Add Reply
						</div>
					  </form>
					</div>
				</div>
				</div>
				<!-- Right -->
				<div class="five wide column">
					<!--分类-->
					<div class="ui segments ">
						<div class="ui secondary segment">
							<div class="ui two column grid">
								<div class="column">
									<i class="sort icon"></i>
									<span>分类</span>
								</div>
								<div class="right aligned column">
									<a href="#" target="_blank">more<i
										class="angle double right icon"></i></a>
								</div>
							</div>
						</div>
						<div class="ui blue segment ">
							<div class="ui fluid vertical menu">
								<a href="/types/6" th:href="@{/types/{id}(id=${category.id})}" target="_blank" class="item" th:each="category : ${pageSideLayoutCategorys}"> 
									<span th:text="${category.categoryName}">动漫方法</span>
									<div class="ui teal basic left pointing label" th:text="${#arrays.length(category.blogs)}">2</div>
								</a>
							</div>
						</div>
					</div>
					<!-- 标签 -->
					<div class="ui segments ">
						<div class="ui secondary segment">
							<div class="ui two column grid">
								<div class="column">
									<i class="tag icon"></i>标签
								</div>
								<div class="right aligned column">
									<a href="types/-1" target="_blank">
										more 
										<i class="angle double right icon"></i>
									</a>
								</div>
							</div>
						</div>
						<div class="ui blue segment ">
							<div class="ui labels">
								<a class="ui label" th:each="tag : ${pageSideLayoutTags}" th:text="${tag.tagName}">Java</a> 
							</div>
						</div>
					</div>
					<!-- 热门推荐 -->
					<div class="ui segments ">
						<div class="ui secondary segment">
							<div class="ui two column grid">
								<div class="column">
									<i class=" sticky note icon "></i>热门推荐
								</div>
								<div class="right aligned column">
									<a target="_blank">Hot <i class="trophy icon"></i></a>
								</div>
							</div>
						</div>
						<div class="ui blue segment ">
							<div class="ui fluid vertical menu">
								<a th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="item" th:each="blog : ${pageSideLayoutBlogs}"> 
									<span th:text="${blog.title}"></span>
									<div class="ui red basic left pointing label" th:text="${blog.countViews}">2</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--底部footer-->
	<footer th:replace="template/_fragments :: footer"> 
	
	</footer>

	<!--导入的script-->
	<th:block th:replace="template/_fragments :: script">

	</th:block>
</body>
</html>