<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="template/_fragments :: head(~{::title})">
    <title>博客详情</title>
</head>
<body>
	<!--头部导航-->
	<nav th:replace="template/_fragments :: menu(2)" ></nav>

	<!--中间内容-->
	<div class="m-container-small m-padded-tb-big animated fadeInLeftBig">
		<div class="ui container">
			<!--header-->
			<div class="ui top attached segment">
				<div class="ui middle aligned two column grid">
					<div class="column">
						<h2 class="ui  header">分类</h2>
					</div>
					<div class="right aligned column">
						<div class="ui teal label">
							Total
							<div class="detail" th:text="${#arrays.length(categories)}">214</div>
						</div>
					</div>
				</div>
			</div>

			<div class="ui attached segment">
				<div class="ui four column doubling stackable grid">
					<div class="column" th:each="category : ${categories}">
						<div class="ui labeled button">
							<a href="#" th:href="@{/categories/{id}(id=${category.id})}"
								class="ui basic  button"
								th:classappend="${category.id==activeCategoryId} ? 'violet':''"
								th:text="${category.categoryName}">思考与感悟</a>
							<div class="ui  basic left pointing  label "
								th:classappend="${category.id==activeCategoryId} ? 'violet':''"
								th:text="${#arrays.length(category.blogs)}">120</div>
						</div>
					</div>
				</div>
			</div>

			<!-- content -->
			<div class="ui  segment">
				<div class="ui relaxed divided items">
					<div class="ui error message" th:if="${errors} ne null">
						<div class="header" th:text="${errors}">There were some errors with your submission</div>
<!-- 						<ul class="list"> -->
<!-- 							<li>You must include both a upper and lower case letters in your password.</li> -->
<!-- 							<li>You need to select your home country.</li> -->
<!-- 						</ul> -->
					</div>

					<div class="item" th:each="blog : ${blogs}"
						th:if="${errors} eq null">
						<div class="ui small green card image">
							<img src="assets/images/wireframe/image.png">
						</div>
						<div class="content">
							<a class="header" href="/blog/1"
								th:href="@{/blog/{id}(id=${blog.id})}" 
								th:text="${blog.title}">
								Content Header
							</a>
							<div class="meta">
								<i class="calendar icon"></i> 
								<span th:text="${#dates.format(blog.updateTime, 'yyyy-MM-dd')}">
									2020/05/20 10:15
								</span> 
								<i class="eye icon"></i> 
								<span th:text="${blog.countViews}">
									256
								</span>
							</div>
							<div class="description">
								<p th:text="${blog.description}">
									A description which may flow for several lines and give context to the content.
								</p>
							</div>
							<div class="extra">
								<img src="assets/images/wireframe/square-image.png" class="ui circular avatar image"> 
								<span th:text="${blog.user.nickname}">
									Username
								</span> 
								<a href="#" class="ui teal basic right floated label"> 
									<i class="sort icon"></i> 
									<span th:text="${blog.category.categoryName}">
										动漫学习
									</span>
								</a>
							</div>
							<div class="extra">
								<div class="ui label">Java</div>
								<div class="ui label">SpringBoot</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- begin footer -->
			<div th:if="${errors} eq null">
				<div class="ui  segment" >
					<div class="ui middle aligned two column grid">
						<div class="column">
							<div class="item">
								<span th:class="${page.hasPreviousPage}? '' : 'disabled'"
									th:if='${not page.hasPreviousPage}'><i
									class="left arrow icon"></i>上页</span> <a
									th:if='${page.hasPreviousPage}'
									th:href='@{${page.url}(page=${page.number-2},size=${page.size})}'
									title='Go to previous page'><i class="left arrow icon"></i>上页</a>
							</div>
						</div>
						<div class="right aligned column">
							<div class="item">
								<span th:class="${page.hasNextPage}? '' : 'disabled'"
									th:if='${not page.hasNextPage}'>下页<i
									class="right arrow icon"></i></span> <a th:if='${page.hasNextPage}'
									th:href='@{${page.url}(page=${page.number},size=${page.size})}'
									title='Go to next page'>下页&nbsp;&nbsp;<i
									class="right arrow icon"></i></a>
							</div>
						</div>
					</div>
				</div>
				<div class="ui vertically padded page grid" th:if="${errors} eq null">
					<div class=" column">
						<p class="ui  center aligned sub header">
							当前第 <span th:text="${page.number}">1</span>页，总
							<span th:text="${page.totalPages}">1</span>页，共 
							<span th:text="${page.totalElements}">1</span>条记录
						</p>
						<div class="ui divider"></div>
					</div>
				</div>
			</div><!-- end footer -->
		</div>
	</div>

	<!--底部footer-->
	<footer th:replace="template/_fragments :: footer"> 
	
	</footer>

	<!--导入的script-->
	<th:block th:replace="template/_fragments :: script">

	</th:block>
</body>
</html>