<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="template/_fragments :: head(~{::title})">
    <title>博客首页</title>
</head>
<body>
	<!--头部导航-->
	<nav  th:replace="template/_fragments :: menu(1)" ></nav>

	<!--中间内容-->
	<div class="m-container m-padded-tb-big animated fadeIn">
		<div class="ui container">
			<div class="ui stackable grid">
				<div class="eleven wide column">
					<!-- header -->
					<div class="ui top attached segment">
						<div class="ui top attached">
							<div class="ui middle aligned two column grid">
								<div class="column">
									<h2 class="ui blue header">博客</h2>
								</div>
								<div class="right aligned column">
									<div class="ui teal label">
										Total
										<div class="detail">214</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- content -->
					<div class="ui relaxed divided items">
						<div class="item" th:each="blog : ${blogs}">
							<div class="ui small green card image">
								<img src="assets/images/wireframe/image.png">
							</div>
							<div class="content">
								<a class="header" href="/blog/1" th:text="${blog.title}">Content Header</a>
								<div class="meta">
									<i class="calendar icon"></i>
									<span th:text="${#dates.format(blog.updateTime, 'yyyy-MM-dd')}">2020/05/20 10:15</span>
									<i class="eye icon"></i>
									<span th:text="${blog.countViews}">256</span>
								</div>
								<div class="description">
									<p th:text="${blog.description}">A description which may flow for several lines and give context to the content.</p>
								</div>
								<div class="extra">
									<img src="assets/images/wireframe/square-image.png" class="ui circular avatar image">
									<span th:text="${blog.user.nickname}">Username</span>
									<a href="#" class="ui teal basic right floated label"> 
										<i class="sort icon"></i>
										<span th:text="${blog.category.categoryName}">动漫学习</span>
									</a>
								</div>
								<div class="extra">
									<a class="ui  basic  floated label"><i class="tag icon"></i>Java</a>
									<a class="ui  basic  floated label"><i class="tag icon"></i>SpringBoot</a>
								</div>
							</div>
						</div>
					</div>
					
					
					<!-- footer -->
					<div class="ui  segment">
	                    <div class="ui middle aligned two column grid">
	                        <div class="column">
	                        	<div class="item">
									<span th:class="${page.hasPreviousPage}? '' : 'disabled'" th:if='${not page.hasPreviousPage}'><i class="left arrow icon"></i>上页</span>
									<a th:if='${page.hasPreviousPage}' th:href='@{${page.url}(page=${page.number-2},size=${page.size})}' title='Go to previous page'><i class="left arrow icon"></i>上页</a>
								</div>
	                        </div>
	                        <div class="right aligned column" >
		                        <div class="item">
					                <span th:class="${page.hasNextPage}? '' : 'disabled'" th:if='${not page.hasNextPage}'>下页<i class="right arrow icon"></i></span>
					                <a th:if='${page.hasNextPage}' th:href='@{${page.url}(page=${page.number},size=${page.size})}' title='Go to next page'>下页&nbsp;&nbsp;<i class="right arrow icon"></i></a>
					            </div>
	                        </div>
	                    </div>
					</div>
					<div class="ui vertically padded page grid">
						<div class=" column">
						  <p class="ui  center aligned sub header">当前第<span th:text="${page.number}">1</span>页，总<span th:text="${page.totalPages}">1</span>页，共<span th:text="${page.totalElements}">1</span>条记录</p>
						  <div class="ui divider"></div>
						</div>
					</div>
				</div>
				<!-- Right -->
				<div class="five wide column">
					<!--分类-->
					<div class="ui segments ">
						<div class="ui secondary segment">
							<div class="ui two column grid">
								<div class="column">
									<i class="sort icon"></i>分类
								</div>
								<div class="right aligned column">
									<a href="#" target="_blank">more<i
										class="angle double right icon"></i></a>
								</div>
							</div>
						</div>
						<div class="ui blue segment ">
							<div class="ui fluid vertical menu">
								<a href="/types/6" target="_blank" class="item"> <span>动漫方法</span>
									<div class="ui teal basic left pointing label">2</div>
								</a><a href="/types/1" target="_blank" class="item"> <span>学习方法</span>
									<div class="ui teal basic left pointing label">4</div>
								</a><a href="/types/5" target="_blank" class="item"> <span>哈哈方法</span>
									<div class="ui teal basic left pointing label">1</div>
								</a><a href="/types/3" target="_blank" class="item"> <span>娱乐方法</span>
									<div class="ui teal basic left pointing label">1</div>
								</a><a href="/types/4" target="_blank" class="item"> <span>钓鱼方法</span>
									<div class="ui teal basic left pointing label">1</div>
								</a>
							</div>
						</div>
					</div>
					<!-- 标签 -->
					<div class="ui segments ">
						<div class="ui secondary segment">
							<div class="ui two column grid">
								<div class="column">
									<i class="tag icon"></i>标签
								</div>
								<div class="right aligned column">
									<a href="types/-1" target="_blank">more <i
										class="angle double right icon"></i></a>
								</div>
							</div>
						</div>
						<div class="ui blue segment ">
							<div class="ui labels">
								<a class="ui blue label">Java</a> <a class="ui blue label">SpringBoot</a>
								<a class="ui blue label">Linux</a> <a class="ui blue label">UI</a>
								<a class="ui blue label">PMP</a>
							</div>
						</div>
					</div>
					<!-- 热门推荐 -->
					<div class="ui segments ">
						<div class="ui secondary segment">
							<div class="ui two column grid">
								<div class="column">
									<i class=" sticky note icon "></i>热门推荐
								</div>
								<div class="right aligned column">
									<a href="types/-1" target="_blank">more <i
										class="angle double right icon"></i></a>
								</div>
							</div>
						</div>
						<div class="ui blue segment ">
							<div class="ui divided middle aligned animated selection list">
								<div class="item">
									<div class="content">
										<div class="header">Content Header</div>
									</div>
								</div>
								<div class="item">
									<div class="content">
										<div class="header">Content Header</div>
									</div>
								</div>
								<div class="item">
									<div class="content">
										<div class="header">Content Header</div>
									</div>
								</div>
								<div class="item">
									<div class="content">
										<div class="header">Content Header</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--底部footer-->
	<footer th:replace="template/_fragments :: footer"> 
	
	</footer>

	<!--导入的script-->
	<th:block th:replace="template/_fragments :: script">

	</th:block>
</body>
</html>